.page-wraper {
    width: 375px;
    height: auto;
    margin: auto;
}   
.container {
    position: relative;
    background-color: hsl(0, 0%, 100%);
}
.bg-top{
    position: relative;

} 
.header {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    text-align: center;
    padding: 0 50px 0 50px;
    position: absolute;
    top: 80px;
}
.header span{
    position: relative;
    bottom: 4px;
    right: 5px;
    left: 0px;
}
.para {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    text-align: center;
    padding: 0px 30px 50px 30px;
    position: absolute;
    top: 200px;
}
.element1 {
    background-color: hsl(300, 24%, 96%);
    width: 345px;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    margin: 60px auto;
    margin-bottom: 20px;
}
.element2 {
    background-color: hsl(300, 24%, 96%);
    width: 345px;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
}
.element3 {
    background-color: hsl(300, 24%, 96%);
    width: 345px;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 40px;
}
img {
    margin-right: 15px;
}
.icon{
    margin: 0 110px 0 110px;
    display: flex;
    justify-content: space-around;
}
.head {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}
.content {
    width: 375px;
    height: auto;

}
.col1 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    width: 350px;
    height: 250px;
    margin: 0 0 20px 12px;
    padding: 0px 0px 0px 0px;
    position: relative;
}
.col2 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    width: 350px;
    height: 250px;
    margin: 0 0 20px 12px;
    position: relative;
}
.col3 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    width: 350px;
    height: 250px;
    margin: 0 0 80px 12px;
    position: relative;
}
.image {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.name {
    position: absolute;
    top: 35px;
    left: 110px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;

}
.name p {
    color: hsl(333, 80%, 67%);
    line-height: 25px;
    font-weight: 400;
}
.paragraph {
   padding-top: 110px;
   padding-left: 30px;
   padding-right: 50px;
   line-height: 20px;
   font-family: 'Kumbh Sans', sans-serif;
   font-weight: 500;
   font-size: 15px;
}
.bg-bottom {
    position: absolute;
    top: 930px;
}